<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="nav-link">user</li>
      <li class="header_menu_title"><%= link_to 'task-mg', root_path, class: 'nav-link'%></li>
      <li>
        <ul class="header_menu_inner">
          <li>
            <%= link_to '#', class: 'nav-link' do %>
              <span class="mr-1">リスト作成</span>
              <i class="fa-solid fa-pen-nib"></i>
            <% end %>
          </li>
          <li><%= link_to 'サインアウト','#', class: 'nav-link' %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>