<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <% if user_signed_in? %>
        <li class="nav-link"><%= current_user.name %>さん</li>
      <% else %>
        <li class="nav-link">GEST</li>
      <% end %>
      <li class="header_menu_title"><%= link_to 'task-mg', root_path, class: 'nav-link'%></li>
      <li>
        <ul class="header_menu_inner">
          <li>
            <%= link_to new_list_path, class: 'nav-link' do %>
              <span class="mr-1">リスト作成</span>
              <i class="fa-solid fa-pen-nib"></i>
            <% end %>
          </li>
          <li><%= link_to 'サインアウト',destroy_user_session_path, class: 'nav-link',method: :delete %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>